<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}Fraktionstool{% endblock %}</title>
    {% block extra_head_content %}{% endblock %}
</head>

<body>
    <div id="header">
        {% if user.is_authenticated %}
             <div class="raggedleft">
                <div id="header_page_name"><a href="/">Nachrichtenübersicht</a></div>
            </div>
            <div class="rightmenu"><a href="/logout">Abmelden</a></div>
            <div class="rightmenu mpadd"><a href="/hilfe/">Hilfe</a></div>
            <div class="rightmenu mpadd"><a href="/accounts/password_change/">Passwort ändern</a></div>
            <div class="rightmenu mpadd">Hallo {{ user.username }}</div>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
