<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}Fraktionstool{% endblock %}</title>
    {% block extra_head_content %}{% endblock %}
</head>

<body>
    <div id="header">
        <div class="raggedleft">
            {% block extra_page_header %}{% endblock %}
        </div>
        {% if user.is_authenticated %}
            <div class="rightmenu"><a href="/logout">Abmelden</a></div>
            <div class="rightmenu mpadd"><a href="/static/hilfe.html">Hilfe</a></div>
            <div class="rightmenu mpadd"><a href="/admin/">Passwort ändern</a></div>
            <div class="rightmenu mpadd">Hallo {{ user.username }}</div>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
