{% extends "base.html" %}

{% block extra_head_content  %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript">
    // A method to update the messages based on the current selection
    var update_messages = function() {
        $('div#selectmessages input').click();
    };

    // prepare the form when the DOM is ready
    $(document).ready(function() {
        // handler to "only my gremien" checkbox
        $("#id_show_all").change(function() {
                    // Update messages list
                    update_messages();
        });
        // handler to the gremien choice field
        $("#id_gremium").change(function() {
            update_messages();
        });
        // handler to the vorhaben choice field
        $("#id_vorhaben").change(function() {
            // Update messages list
            update_messages();
        });
    });
</script>
{% endblock %}

{% block extra_page_header %}
<div id="header_page_name">Nachrichtenübersicht</div>
{% endblock %}

{% block content %}
<div class="contentblock">
<form action="" method="post" id="messageselectionform">
    <div id="messageselection">
        {% csrf_token %}
        <div id="gremiumfield">
            <label for="id_gremium">{{ form.gremium.label }}:</label>
            {{ form.gremium }}
        </div>
        <div id="mygremienfield">
            <label for="id_show_all">{{ form.show_all.label }}:</label>
            {{ form.show_all}}
        </div>
        <div id="vorhabenfield">
            <label for="id_vorhaben">{{ form.vorhaben.label }}:</label>
            {{ form.vorhaben }}
        </div>
        <div id="selectmessages">
            <input type="submit" name="update_messages" value="Aktualisieren" />
        </div>
    </div>
    <div style="clear:both;"></div>
    <div id="editabstimmung">
       {{ abstimmungsform }}
        <input id='changebutton' type="submit" name="change_abstimmung"
            value="Speichern"/>
    </div>
    <div id="createmessage">
        {{ nachrichtform }}
        <input id='submitbutton' type="submit" name="create_message" value="Abschicken" />
    </div>
</form>
<div style="clear:both;"></div>
<div id="abstimmung">
{{ abstimmung}}
</div>
<div id="messagesection">
<div id="messages">
    {% if nachrichten %}
        <div id="messagesheader">Nachrichten</div>
        {% for n in nachrichten %}
            <div class="message">
                <div class="author">Author: {{ n.owner }}</div>
                <div class="gremium">Gremium: {{ n.gremium.name }}</div>
                <div style="clear:both;"></div>
                <div class="messagetext">{{ n.text|linebreaksbr}}</div>
            </div>
        {% endfor %}
{% else %}
    <em>Es wurden keine Nachrichten gefunden.</em>
{% endif %}
</div>

{% if nachrichten %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">zurück</a>
        {% endif %}

        <span class="current">
            Seite {{ page_obj.number }} von {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">vor</a>
        {% endif %}
    </span>
</div>
{% endif %}
</div>
</div>
{% endblock %}
