{% extends "base.html" %}

{% block extra_head_content  %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript">
    // A method to update the messages based on the current selection
    var update_messages = function() {
        var data = {
            "gremium_id": document.getElementById('id_gremium').value,
            "vorhaben_id": document.getElementById('id_vorhaben').value
        };

        $.getJSON("{% url 'list_nachrichten' %}", data,
            function(nachrichten) {
                // Get DOM object for select box
                var container = document.getElementById('messages');
                // Remove the old content
                while (container.firstChild) {
                    container.removeChild(container.firstChild);
                };
                // Add new content
                var msg_container = document.createElement('div');
                msg_container.setAttribute("id", "messagesheader");
                if (Object.keys(nachrichten).length == 0) {
                    var em_tag = document.createElement('em');
                    var text = document.createTextNode(
                        "Es wurden keine Nachrichten gefunden.");
                    em_tag.appendChild(text);
                    msg_container.appendChild(em_tag);
                    container.appendChild(msg_container);
                } else {
                    msg_container.appendChild(
                        document.createTextNode('Nachrichten:'));
                    container.appendChild(msg_container);
                    // Add new messages
                    for (n in nachrichten) {
                        if (nachrichten.hasOwnProperty(n)) {
                            var msg = document.createElement('div');
                            msg.setAttribute("class", "message");
                            var text = document.createTextNode(nachrichten[n]);
                            msg.appendChild(text);
                            container.appendChild(msg);
                        }
                    };
                }
            });
    };

    // prepare the form when the DOM is ready
    $(document).ready(function() {
        // handler to "only my gremien" checkbox
        $("#id_my_gremien").change(function() {
            var onlyown = $(this).is(':checked') ? 1 : 0;
            $.getJSON("{% url 'list_gremien' %}", { onlyown: onlyown },
                function(gremien) {
                    // Get DOM object for select box
                    var select = document.getElementById('id_gremium');
                    // Clear the old options
                    select.length = 0;
                    // Add new options
                    for (g in gremien) {
                        if (gremien.hasOwnProperty(g)) {
                            select.options[select.options.length] =
                                new Option(gremien[g], g);
                        }
                    }
                    // Update messages list
                    update_messages();
                });
        });
        // handler to the gremien choice field
        $("#id_gremium").change(function() {
            console.log("Change gremium");
            var gremium_id = this.value;
            $.getJSON("{% url 'list_vorhaben' %}", { gremium_id: gremium_id },
                function(vorhaben) {
                    // Get DOM object for select box
                    var select = document.getElementById('id_vorhaben');
                    // Clear the old options
                    select.length = 0;
                    // Add new options
                    for (v in vorhaben) {
                        if (vorhaben.hasOwnProperty(v)) {
                            select.options[select.options.length] =
                                new Option(vorhaben[v], v);
                        }
                    }
                    // Update messages list
                    update_messages();
                });
        });
        // handler to the vorhaben choice field
        $("#id_vorhaben").change(function() {
            // Update messages list
            update_messages();
        });
    });
</script>
{% endblock %}

{% block extra_page_header %}
<div id="header_page_name">Nachrichtenübersicht</div>
{% endblock %}

{% block content %}
<div class="contentblock">
<div id="messageselection">
<form action="" method="post" id="messageselectionform">
    {% csrf_token %}
    <div id="gremiumfield">
        <label for="id_gremium">{{ form.gremium.label }}:</label>
        {{ form.gremium }}
    </div>
    <div id="mygremienfield">
        <label for="id_my_gremien">{{ form.my_gremien.label }}:</label>
        {{ form.my_gremien }}
    </div>
    <div id="vorhabenfield">
        <label for="id_vorhaben">{{ form.vorhaben.label }}:</label>
        {{ form.vorhaben }}
    </div>
    <div id="selectmessages">
        <input type="submit" value="Aktualisieren" />
    </div>
</form>
</div>
<div style="clear:both;"></div>

<p>
<div id="messages">
    {% if nachrichten %}
        <div id="messagesheader">Nachrichten</div>
        {% for n in nachrichten %}
            <div class="message">
                <div class="author">Author: {{ n.owner }}</div>
                <div class="gremium">Gremium: {{ n.gremium.name }}</div>
                <div style="clear:both;"></div>
                <div class="messagetext">{{ n.text }}</div>
            </div>
        {% endfor %}
{% else %}
    <em>Es wurden keine Nachrichten gefunden.</em>
{% endif %}
</div>
</p>

{% if nachrichten %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">zurück</a>
        {% endif %}

        <span class="current">
            Seite {{ page_obj.number }} von {{ paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">vor</a>
        {% endif %}
    </span>
</div>
</div>
{% endif %}
{% endblock %}
