{% extends "base.html" %}

{% block content %}
<div class="formheading">
    <h3>Password ändern</h3>
</div>
<div id="change_password" class="formbox">
    <form action="{% url "change_password" %}" method="post" accept-charset="utf-8">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="centered">
            <input class="btn" type="submit" value="Passwort ändern" />
        </div>
    </form>
</div>
{% endblock %}
