{% extends "base.html" %}

{% block extra_head_content  %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript">
    // prepare the form when the DOM is ready
    $(document).ready(function() {
        // handler to "only my gremien" checkbox
        $("#id_my_gremien").change(function() {
            var onlyown = $(this).is(':checked') ? 1 : 0;
            $.getJSON("{% url 'list_gremien' %}", { onlyown: onlyown },
                function(gremien) {
                    // Get DOM object for select box
                    var select = document.getElementById('id_gremium');
                    // Clear the old options
                    select.length = 0;
                    // Add new options
                    for (g in gremien) {
                        if (gremien.hasOwnProperty(g)) {
                            select.options[select.options.length] =
                                new Option(gremien[g], g);
                        }
                    }
                });
        });
    });
</script>
{% endblock %}

{% block content %}
<h1>Hallo und willkommen im Fraktionstool</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Aktualisieren" />
</form>

<p>
{% if nachrichten %}
    Nachrichen:
    <table>
        {% for n in nachrichten %}
            <tr>
                <td>{{ n }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <em>Es wurden keine Nachrichten gefunden.</em>
{% endif %}
</p>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">zurück</a>
        {% endif %}

        <span class="current">
            Seite {{ page_obj.number }} von {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">vor</a>
        {% endif %}
    </span>
</div>
{% endblock %}
