body {
    font-family: helvetica;
}

h1
{
	color: #ed1c24;
}

div#loginbox {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted #CB4B16;
    background-color: #FDF6E3;
    padding: 10px;
    overflow: auto;
    margin-top: 3em;
}

div#loginbox ul.errorlist {
    font-size: small;
    color: #CB4B16;
    list-style-type: square;
}

div#loginbox input {
    float: right;
}

div#header {
    color: #073642;
    font-size: small;
    border-bottom: 1px dotted #CB4B16;
    background-color: #FDF6E3;
    height: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 3px 10px 3px 10px;
}

div#header a:link {
    color: #073642;
    text-decoration: none;
}

div#header a:visited {
    color: #073642;
    text-decoration: none;
}

.raggedright {
    float: right;
}

div#content {
    postion: relative;
    overflow: auto;
    padding: 3px;
}
