body {
    font-family: helvetica;
}

h1
{
	color: #ed1c24;
}

div#loginbox {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted #ee0000;
    background-color: #ffeedd;
    padding: 10px;
    overflow: auto;
    margin-top: 3em;
}

div#loginbox input {
    float: right;
}

div#header {
    background-color: #ffeedd;
    border-bottom: 1px dotted #ee0000;
    height: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 3px;
}

.raggedright {
    float: right;
}

div#content {
    postion: relative;
    overflow: auto;
    padding: 3px;
}
